h1 {
    font-size: xxx-large;
    font-weight: 700;
}

h2 {
    font-size: xx-large;
    font-style: italic;
}

h3 {
    font-size: x-large;
    text-decoration: underline;
}

body {
    background-color: rgb(40, 40, 40);
    margin: 0px;
}

main {
    margin: 32px;
}

.navigation_bar ul {
    list-style-type: none;
    background-color: rgb(30, 30, 30);
    padding: 0;
    margin: 0;

    overflow: hidden;
}

.navigation_bar a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px;
}

.navigation_bar a:hover {
    background-color: rgb(20, 20, 20);
    font-weight: 700;
}

.navigation_bar li {
    float: left;
}

.normal_text {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0px;
}

.mono_text {
    font-family: "Roboto Mono", monospace;
    color: white;
}

#main_title {
    font-weight: 900;
    margin-bottom: 8px;
}